.bi {
    color: #4154f1;
}

.logo-text {
    font-size: 1.2em;
    font-weight: 700;
    color: #0d43a0;
    font-family: "Nunito", sans-serif;
}

.navbar a {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: #013289;
}

.home {
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.home .esquerdo h1 {
    font-size: 2.6em;
    color: #012970;
}

.home .esquerdo h2 {
    font-size: 1.5em;
    color: #444444;
    font-weight: 400;
}


/* ABOUT */


.about {
    background-color: #f6f9ff;
    padding: 60px 0;
}

.about .esquerdo {
    width: 80%;
}

.about .direito img {
    width: 100%;
    height: 300px;
}

.about .esquerdo h2 {
    font-size: 1em;
}

.about .esquerdo h1 {
    font-size: 1.7em;
    color: #012970;
}

.about .esquerdo p {
    font-size: 1.1em;
}


/* TITLE */


.section-header {
    padding-top: 40px;
    text-align: center;
    padding-bottom: 40px;
}

.section-header h2 {
    font-size: 0.8em;
    letter-spacing: 1px;
    font-weight: 700;
    margin: 0;
    color: #4154f1;
    text-transform: uppercase;
}

.section-header p {
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 2em;
    line-height: 42px;
    font-weight: 700;
    color: #012970;
}


/* EXP */


.box-exp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 320px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0 10px rgb(1 41 112 / 8%);
}

.box-exp:hover {
    background-color: rgb(248, 248, 248);
}

.box-exp img {
    width: 220px;
    height: auto;
}

.box-exp h1 {
    font-size: 1.5em;
    font-weight: 700;
    color: #012970;
}


/* CONTACT */


.contact {
    padding-bottom: 40px;
}

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #fafbff;
    padding: 20px;
    border-radius: 5px;
}

.contact .contato h1 {
    padding: 0 3px;
    font-size: 20px;
    color: #012970;
    font-weight: 700;
}

.contact .contato p {
    line-height: 5px;
    font-size: 14px;
    margin-bottom: 0;
    margin-bottom: 15px;
}

.contact .mensagem {
    background: #fafbff;
    padding: 30px;
    height: 100%;
    border-radius: 5px;
}

.contact input {
    padding: 10px 15px;
}


/* FOOTER */


footer {
    background-color: #012970;
}

footer .textcopy {
    color: white;
    text-align: center;
    padding-top: 15px;
}

footer .sociais {
    color: white;
    text-align: center;
    font-size: 13px;
}

@media screen and (min-width: 375px) and (max-width: 460px) {
    .section-header {
        padding-top: 22px;
        text-align: center;
        padding-bottom: 22px;
    }

    .section-header h2 {
        font-size: 0.7em;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .section-header p {
        font-size: 1.2em;
        line-height: 18px;
    }



    .home .esquerdo h1 {
        margin-top: 25px;
        font-size: 1.9em;
    }

    .home .esquerdo h2 {
        font-size: 1.3em;
    }

    .home .direito img {
        height: auto;
    }

    .home {
        height: 70vh;
    }



    .about .direito img {
        display: none;
    }


    .box-exp:first-child {
        margin: 0;
    }


}

@media screen and (min-width: 310px) and (max-width: 374px) {
    .section-header {
        padding-top: 22px;
        text-align: center;
        padding-bottom: 22px;
    }

    .section-header h2 {
        font-size: 0.7em;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .section-header p {
        font-size: 1.2em;
        line-height: 18px;
    }



    .home .esquerdo h1 {
        margin-top: 25px;
        font-size: 1.7em;
    }

    .home .esquerdo h2 {
        font-size: 1.1em;
    }

    .home .direito img {
        height: auto;
    }

    .home {
        height: 70vh;
    }



    .about .esquerdo h1 {
        font-size: 1.3em;
    }

    .about .esquerdo p {
        font-size: 1em;
    }

    .about .direito img {
        display: none;
    }


    .box-exp:first-child {
        margin: 0;
    }


}